:root {
  font-family: Roboto Condensed, Barlow, Quattrocento, satisfy;

  --sari : #FDC913; 
  --light-gray: #5F5F5F;
  --dark-gray: #292929;
  --kırmızı: #CE2829;
  --bej: #FAF7F2;

}
#pizza {
  max-width:1920px ;
  
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.main {
  background-image: url(/public/assets/iteration-1/home-banner.png);
  width: 75vw;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.baslik {
 padding: 3rem 49rem;
}

.italik {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style:italic;
  font-size: 32px;
  font-family: satisfy;
  color:var(--sari)
}

.motto {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 86px;
  font-family: Roboto Condensed;
  color:white;
}

.aciktim {
  border-radius: 20%;
  align-self: center;
  width: 10rem;
  padding: 1rem 2rem;
  color:var(--dark-gray);
  background-color: var(--sari);
  font-size: 18px;
  font-family: Barlow;
  font-weight: bold;
}

.butonlar {
  display: flex;
  background-color: white;
  gap:6rem;
  margin:2rem 0;
  justify-content: center;
}

.buton {
  background-color: white;
  border-radius: 20%;
  padding: 0.5rem 1rem;
  border: none;
}
.buton-siyah {
  background-color: black;
  color:white;
  border-radius: 20%;
  padding: 0.5rem 1rem;
  border: none;
}

.section2 {
  background-color: var(--bej);
  padding: 5rem;
}
.yanyana {
  display: flex;
  justify-content: center;
  gap:1rem
}

.özel {
  background-image: url(/public/assets/iteration-2/cta/kart-1.png);
  border-radius: 5%;
}

.resim-yazisi {
  padding:2.5rem 22rem 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
}

.altalta {
  display: flex;
  flex-direction: column;
  gap:1.5rem
}

.hackathlon {
  background-image: url(/public/assets/iteration-2/cta/kart-2.png);
  display: flex;
  flex-direction: column;
  padding: 2rem 20rem 4rem 2rem;
  border-radius: 5%;
}

.cok {
  background-image: url(/public/assets/iteration-2/cta/kart-3.png);
  display: flex;
  flex-direction: column;
  padding: 2rem 20rem 4rem 2rem;
  border-radius: 5%;
}

.sipariş-ver {
  color:var(--kırmızı);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 20%;
}

.acıktıran-kodlar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 0 0
}

.butonlar2 {
  display: flex;
  gap: 5.5rem;
  margin:2rem;
  justify-content: center;
  text-align: center;
}

.yemekler {
  display: flex;
  justify-content: center;
  gap:2rem
}

.yemek {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding:2.5rem
}
.fiyatlar {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: black;
  display: flex;
  justify-content: center;
  padding:1rem;
  gap:10rem
}

.bilgiler {
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding: 3rem;
  max-width: 250px;
  
  
}
.bilgi {
  color:white;
  font-size: 18px;
  font-family: Barlow;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  gap:1rem;
 
}

.bilgiler2 {
  margin-top: 10rem;
  
}

.bilgiler3 {
  margin-top: 10rem;
}

.insta {
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  max-width: 350px;
  padding: 2rem 0;
}